@import "../utils/vairables.scss";
@import "../utils/mixins.scss";

.button {
  cursor: pointer;

  width: 288px;
  height: 56px;

  color: $prime-text-color;
  font-size: $prime-font-size;

  background: $summary-color;

  border: none;
  border-radius: 28px;

  &:hover {
    background: $gradient-background;
  }

  @include flex("center&center", "");
}

.button {
  @media screen and (max-width: $mobile) {
    width: 315px;
  }
}
