@import "../utils/variables";
@import "../utils/mixins";

#container {
  border-radius: 28px;
  box-shadow: $prime-shadow;

  @include flex("", "");

  & #result {
    padding: 42px 58px;
    background: $gradient-background;
    text-align: center;
    border-radius: 28px;

    @include flex("start&center", "col");

    & h1 {
      margin-bottom: 32px;
      color: $second-text-color;
      font-size: $prime-font-size-h1;
      font-weight: 500;
    }

    & h2 {
      margin-bottom: 16px;
      font-size: $prime-font-size-h2;
      font-weight: 600;
    }

    & p:last-child {
      max-width: 254px;
      color: $second-text-color;
    }

    & #score {
      width: 200px;
      height: 200px;
      margin-bottom: 32px;
      border-radius: 100%;
      background: $gradient-background-circle;
      font-size: $prime-font-score;
      font-weight: 700;

      @include flex("center&center", "col");

      & span {
        color: $second-text-color;
        font-size: $prime-font-size;
        font-weight: normal;
      }
    }
  }

  & #summary {
    padding: 42px 58px;

    @include flex("center&center", "col");

    & h1 {
      margin-bottom: 32px;
      color: $summary-color;
      font-size: $prime-font-size-h1;
      font-weight: 500;
    }

    & ul {
      margin-bottom: 42px;
      list-style: none;

      & li {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #container {
    width: 100%;

    @include flex("", "col");

    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none;

    & #result {
      padding: 20px 30px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      & h1 {
        font-size: $media-font-size-h1;
      }

      & h2 {
        font-size: $media-font-size-h2;
        font-weight: 600;
        margin-bottom: 14px;
      }

      & p {
        font-size: $media-font-paragraph;
      }

      & #score {
        width: 140px;
        height: 140px;
        margin-bottom: 32px;
        font-size: $media-font-score;
      }
    }

    & #summary {
      padding: 30px;

      & h1 {
        font-size: $media-font-size-h1;
        margin-bottom: 22px;
      }

      & ul {
        margin-bottom: 24px;
      }
    }
  }
}
