@font-face {
  font-family: HankenGrotesk;
  src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf);

  font-weight: normal;
}

@font-face {
  font-family: HankenGrotesk;
  src: url(/fonts/static/HankenGrotesk-Medium.ttf);

  font-weight: 500;
}

@font-face {
  font-family: HankenGrotesk;
  src: url(/fonts/static/HankenGrotesk-Bold.ttf);

  font-weight: 600;
}

@font-face {
  font-family: HankenGrotesk;
  src: url(/fonts/static/HankenGrotesk-ExtraBold.ttf);

  font-weight: 700;
}
